.inputStyle{
  border: 1px solid #5bc0de;
  line-height: 30px;
  height: 30px;
  width: 100%;
  padding-left: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.commentsList{
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  padding: 5px;
}
.list-style:first-child{
  margin: 0;
}
.list-style{
  height: 30px;
  line-height: 30px;
  background-color: #5bc0de;
  color: #ffffff;
  padding-left: 5px;
  margin-top: 2px;
}
.Btn-submit{
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.comments-length{
  height: 30px;
  line-height: 30px;
  float: right;
}
.theme{
  width: 100%;
  height: 30px;
  line-height: 30px;
}